<!--<app-layout>-->
  <!--<main>-->
    <!--<router-outlet></router-outlet>-->
  <!--</main>-->
<!--</app-layout>-->

<div fxLayout="row wrap" fxLayoutAlign="center center" class="layout-wrapper" >
<div fxFlex="80%" fxFlex.lt-md="100%" class="flex-wrapper">
  <!--<ng-content></ng-content>-->
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
</div>

<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->

<!--<ngkl-header *ngIf="isLoggedIn" [menuItems]="menuItems"></ngkl-header>-->

<!--<div id="stage">-->
  <!--<ngkl-sidenav *ngIf="isLoggedIn" [menuItems]="menuItems"></ngkl-sidenav>-->

  <!--<main role="main" id="content" class="hxBox hxMd">-->
    <!--<ngkl-breadcrumbs-->
      <!--*ngIf="isLoggedIn"-->
      <!--[menuItems]="menuItems">-->
    <!--</ngkl-breadcrumbs>-->
    <!--<router-outlet></router-outlet>-->
  <!--</main>-->

<!--</div>-->

<!--<ngkl-footer *ngIf="isLoggedIn"></ngkl-footer>-->

